<br>
<br>
<h1> My Tasks </h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task.id) %>
    <%= link_to "borrar", task_path(task), method: :delete, data: {confirm: "Estas seguro de borrar?"} %>
    </li>
  <% end %>
</ul>

<br>
<br>
<%= link_to "Create", new_path %>
